body {
  margin: 0;
  padding: 0;
}

.canvas {
  margin: 0;
  padding: 0;
  background-color: black;
  position: absolute;
}

.entity {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
}

.specimen {
  background-color: blue;
  border-radius: 50%;
  transform: translate(-25%, -25%);
}

.food {
  background-color: green;
  border-radius: 50%;
}

.poison {
  background-color: red;
  border-radius: 50%;
}